%h1 Listing sections
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    - @sections.each do |section|
      %tr
        %td
          = link_to section, section
          %p= section.description
        %td
          = link_to random_section_questions_path(section), class: 'btn btn-info btn-block' do
            Random Question
